.container {
    height: 100%;
    min-height: -webkit-fill-available;
    /* Adjusts for mobile browsers */
}

.main-wrapper {
    width: 100%;
    position: relative;
}

.wrapper {
    position: relative;
    border-radius: 32px;
    padding: 8px;
    ;
    border: 12px solid black;
    height: 100%;
    min-height: -webkit-fill-available;
}

.font_size {
    font-size: 12px;
}

.mini_font {
    font-size: 9px;
}

.lastbtn {
    padding-top: 40%;
}

.startdemo {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

/* mobile top shape */
.mobile-shape {
    position: absolute;
    border-radius: 50px;
    border: black;
    width: 158px;
    height: 29px;
    top: -11px;
    left: 66px;
    background-color: black;
}

.imgsize {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 320px) {
    .wrapper {
        border: none;
        width: 100%;
        min-height: -webkit-fill-available;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }

    .startdemo {
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
}

@media only screen and (min-width: 375px) {
    .main-wrapper {
        width: 375px;
    }

    .wrapper {
        border: none;
        padding: 6px;

        min-height: 100%;
    }
    .lastbtn {
        padding-top: 40%;
    }
    
    .startdemo {
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }
    .lastbtn {
        padding-top: 40%;
    }

}

@media only screen and (min-width: 425px) {
    .main-wrapper {
        width: 425px;
    }

    .wrapper {
        border: none;
        padding: 8px;

        min-height: 100%;
    }

    .startdemo {
        position: absolute;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }
    .lastbtn {
        padding-top: 40%;
    }
    

}

@media only screen and (min-width: 768px) {
    .main-wrapper {
        width: 768px;
    }

    .wrapper {
        border: none;
        padding: 20px;

        min-height: 100%;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }

}

@media only screen and (min-width: 1024px) {
    .main-wrapper {
        width: 320px;
        position: relative;
        height: 100%;
        min-height: -webkit-fill-available;
        ;
    }

    .wrapper {
        position: relative;
        border-radius: 32px;
        border: 12px solid black;
        padding: 10px;
        min-height: calc(100% - 60px);
        height: 100%;
        min-height: -webkit-fill-available;
        ;
    }

    .startdemo {
        position: absolute;
        bottom: 6px;
        left: 50%;
        width: 90%;
        transform: translateX(-50%);
    }

    .mobile-shape {
        position: absolute;
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }

    .startdemo {
        position: absolute;
        width: 80%;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
    }
}

@media only screen and (min-width: 1200px) {
    .main-wrapper {
        width: 320px;
    }

    .wrapper {
        position: relative;
        padding: 20px;

        border-radius: 32px;
        border: 12px solid black;
        min-height: 100%;
    }

    .mobile-shape {
        position: absolute;
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }

    .startdemo {
        position: absolute;
        width: 80%;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (min-width: 1349px) {
    .main-wrapper {
        width: 320px;
        height: 100%;
        min-height: -webkit-fill-available;
        ;
    }

    .wrapper {
        position: relative;
        padding: 20px;
        border-radius: 32px;
        border: 12px solid black;
        min-height: 100%;
        min-height: -webkit-fill-available;
    }

    .mobile-shape {
        position: absolute;
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }

    .startdemo {
        position: absolute;
        width: 80%;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
    }

    .lastbtn {
        padding-top: 70px;
    }
}