<!-- home page -->
<div class="container d-flex justify-content-center
 align-items-center    ">
    <div class="main-wrapper p-0 m-0  ">
        <div class="wrapper  ">
            <div class="mobile-wrapper  ">
                <div class="mobile-shape ">
                </div>
            </div>
            <div class="text-start">
                <h5 class="fw-bold fs-6 pt-2"> Welcome to [Insert Name]!</h5>
                <div class="font_size">
                    <p> Welcome to [insert name]. In the next few
                        screens you will be prompted to make decisions
                        for your pseudo portfolio, This is a completely
                        false scenario and not tied to your personal
                        finances.</p>
                    <p> You will be provided 4 scenarios asking you to
                        make a decision regarding your portfolio.</p>
                    <p>If you would like to hold your money, please
                        enter $0 in the input field, There is no right or
                        wrong decision.</p>
                    <p> Check out our demo to get started!</p>
                </div>
            </div>

            <div class="img-content text-center  ">
                <img src="https://th.bing.com/th/id/R.e5769accc6ddef4a33d06baa0e5bf310?rik=gH4yqbUaYu6OZw&riu=http%3a%2f%2fepaper.zgsyb.com%2fres1%2f1%2f1%2f2023-08%2f04%2f08%2fres04_attpic_brief.jpg&ehk=iqZ4cm%2bYcE40B%2b3ndjWQBsS%2bSzdGoqesnns5F%2fVW82o%3d&risl=&pid=ImgRaw&r=0"
                    class="imgsize" alt="image">
            </div>
            <div class="lastbtn ">
                <button class="btn btn-dark  startdemo  " routerLink="/first"> Start Demo</button>
            </div>
        </div>
    </div>
</div>