
.main-wrapper {
    width: 320px;
    /* height: 100vh; */
    text-align: left;
}

.wrapper {
    border-radius: 32px;
    padding: 8px;
    border: 12px solid black;
}

.font_size {
    font-size: 12px;
}

.mini_font {
    font-size: 9px;
}

/* mobile top shape */
.mobile-shape {
    border-radius: 50px;
    border: black;
    width: 158px;
    height: 29px;
    top: -11px;
    left: 66px;
    background-color: black;
}

@media only screen and (min-width: 320px) {
    .wrapper {
        border: none;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }
}

@media only screen and (min-width: 375px) {
    .main-wrapper {
        width: 375px;
        text-align: left;
    }

    .wrapper {
        border: none;
        padding: 6px;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }

}

@media only screen and (min-width: 420px) {
    .main-wrapper {
        width: 420px;
        text-align: left;
    }

    .wrapper {
        border: none;
        padding: 8px;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }

}

@media only screen and (min-width: 768px) {
    .main-wrapper {
        width: 768px;
        text-align: left;
    }

    .wrapper {
        padding-left: 5px;
        ;
        padding-right: 5px;
        border: none;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }
}

@media only screen and (min-width: 1024px) {
    .main-wrapper {
        width: 320px;
    }

    .wrapper {
        border-radius: 32px;
        border: 12px solid black;
    }

    .mobile-shape {
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {
    .main-wrapper {
        width: 320px;
        text-align: left;
    }

    .wrapper {
        border-radius: 32px;
        border: 12px solid black;
        margin-top: 50px;
        padding: 10px;
    }

    .mobile-shape {
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }
}

@media only screen and (min-width: 1349px) {
    .main-wrapper {
        width: 320px;
        text-align: left;
    }

    .wrapper {
        padding: 20px;
        border-radius: 32px;
        border: 12px solid black;
        /* border-radius: 50px; */
    }

    .mobile-shape {
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }
}
