.main-wrapper {
    width: 320px;
    /* height: 100vh; */

}

.wrapper {
    border: 12px solid black;
    border-radius: 32px;
    padding: 8px;
}

.font_size {
    font-size: 12px;
}

.mini_font {
    font-size: 9px;
}

/* pia chart */
.pie-chart {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: conic-gradient(grey 0% 40%,
            black 40% 100%);
}

/* progress bar */
.progress {
    height: 2px;
}

.step-button {
    width: 10px;
    padding: 1px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -6px;
}

.start-0 {
    left: 0;
}

.start-25 {
    left: 25%;
}

.start-50 {
    left: 50%;
}

.start-75 {
    left: 75%;
}

.start-100 {
    left: 100%;
}

/* mobile top shape */
.mobile-shape {
    border-radius: 50px;
    border: black;
    width: 158px;
    height: 29px;
    top: -11px;
    left: 66px;
    background-color: black;
}

/* arrow shape */
.shape {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid black;
    transform: rotate(45deg);
    top: -11px;
    right: 116px;
    border-right: none;
    border-bottom: none;
}

/* tooltip arrow shape */
.shape-buy-sell {
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid black;
    transform: rotate(45deg);
    bottom: -8px;
    right: 31px;
    border-left: none;
    border-top: none;
}

.button-container-progressbar:hover .custom-tooltips {
    display: block;
}

.custom-tooltips {
    display: none;
    position: absolute;
    top: 24px;
    left: 41%;
    transform: translateX(-70%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 172px;
    z-index: 1000;
    font-size: 11px;
}

.button-container:hover .custom-tooltips {
    display: block;
}

/* buy and sell tooltip css */
.button-container {
    position: relative;
    /* display: inline-block; */
}

.custom-tooltip {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-88%);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 174px;
    z-index: 1000;
    font-size: 11px;
}

.button-container:hover .custom-tooltip {
    display: block;
}

.tooltip-btn {
    font-size: xx-small;
}


@media only screen and (min-width: 320px) {
    .wrapper {
        border: none;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }

}

@media only screen and (min-width: 375px) {
    .main-wrapper {
        width: 375px;
    }

    .wrapper {
        border: none;
        padding: 6px;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }

}

@media only screen and (min-width: 425px) {
    .main-wrapper {
        width: 425px;
    }

    .wrapper {
        border: none;
        padding: 8px;
    }

    .mobile-shape {
        border: none;
        width: 0px;
        height: 0px;
        top: none;
        left: none;
        background-color: none;
    }
}

@media only screen and (min-width: 768px) {
    .main-wrapper {
        width: 768px;
        padding: 0px
    }

    .wrapper {
        padding: 20px;
    }

    .mobile-shape {
        width: 0px;
        height: 0px;
    }
}


@media only screen and (min-width: 1024px) {
    .main-wrapper {
        width: 320px;
    }

    .wrapper {
        border-radius: 32px;
        border: 12px solid black;
    }

    .mobile-shape {
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }
}

@media only screen and (min-width: 1200px) {
    .main-wrapper {
        width: 320px;
    }

    .wrapper {
        border-radius: 32px;
        border: 12px solid black;
        margin-top: 50px;
    }

    .mobile-shape {
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }
}

@media only screen and (min-width: 1349px) {
    .main-wrapper {
        width: 320px;
    }

    .wrapper {
        padding: 20px;
        border-radius: 32px;
        border: 12px solid black;

    }

    .mobile-shape {
        border-radius: 50px;
        border: black;
        width: 158px;
        height: 29px;
        top: -11px;
        left: 66px;
        background-color: black;
    }
}